<div class="container">
  <div class="subcontainer">
    <div class="white-container">
      <div #headerContainer class="header">
        <div class="button-logo-container">
          <app-two-buttons
            button1="Menú"
            button2="Personal"
            [onclick1]="toMenu.bind(this)"
            [onclick2]="toPersonal.bind(this)"
          ></app-two-buttons>
          <div class="logo">
            <app-logo></app-logo>
          </div>
        </div>
      </div>
      <section class="contenido">
        <div class="add-product">
          <botoncin
            text="Agregar {{ menu ? 'producto' : 'personal' }}"
            [handleClick]="menu ? addProduct.bind(this) : addUser.bind(this)"
          ></botoncin>
        </div>
        <div class="scroll">
          <div class="menu" *ngIf="menu">
            <div class="all-products" *ngFor="let product of products; let i = index" >
              <app-product
                class="singleProduct"
                product="{{ product?.name }}"
              ></app-product>
              <app-price
                class="singlePrice"
                price="{{ product?.type }}"
              ></app-price>
              <app-price
                class="singlePrice"
                price="${{ product?.price }}"
              ></app-price>
              <div class="options">
              <app-edit class="singleEdit"></app-edit>
              <app-trash class="singleTrash" (click)="removeProduct(i)"></app-trash>
            </div>
            </div>
          </div>

          <div class="menu" *ngIf="menu == false">
            <div class="staff" *ngFor="let user of users; let i = index">
              <app-product
                class="singleProduct singleProduct_user"
                product="{{ user?.email }}"
              ></app-product>
              <app-price
                class="singlePrice"
                price="{{ user?.role }}"
              ></app-price>
              <app-edit class="singleEdit"></app-edit>
              <app-trash class="singleTrash" (click)="removeUser(user?.id)"></app-trash>
            </div>
          </div>
        </div>
      </section>

      <app-modal-admin-product
      (confirmOrder)="addNewProduct($event)"
      #modalClient
      [input1]="modalInput1"
      [input2]="modalInput2"
      [input3]="modalInput3"
      text="Confirmar"

    ></app-modal-admin-product>
    <app-modal-add-user
    (confirmOrder)="addNewUser($event)"
    #modalUser
    [input1]="modalInput1"
    [input2]="modalInput2"
    [input3]="modalInput3"
    [input4]="modalInput4"

    text="Confirmar"

  ></app-modal-add-user>
    </div>
  </div>
</div>
