/* Fondo de la vista*/
.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #303030;
}

/* Fondo de amarillo del login*/
.fondo-amarillo-login {
  border-radius: 5px;
  background: linear-gradient(to bottom left, #b6c557, #f2a950);
  box-shadow: 1px 1px 5px 1px #090909;
  padding: 30px;
  width: 310px;
}

/* Fondo beige*/
.login-container {
  height: 360px;
  padding: 20px;
  border-radius: 5px;
  background: #fffdf8;
  box-shadow: 1px 1px 5px 1px #59343e;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

/* Formulario*/
.form {
  margin-bottom: 10px;
}

/*Login*/
.logo-login {
  width: 200px;
  height: 200px;
}

/* Caja nedra del formulario*/
.caja-negra-login {
  border-radius: 5px;
  background: #303030;
  box-shadow: 1px 1px 5px 1px #59343e;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  order: 99;
  align-self: end;
  justify-content: center;
}

/*input del formulario*/
.form-input {
  width: 100%;
  display: flex;
}

/*Fila del formulario*/
.form {
  justify-self: center;
}

/*Botón*/
.btn {
  display: block;
  width: 100%;
}