/* Productos de la caja derecha de la vista del mesero*/
.product-cuenta {
    border-radius: 1px;
    background: #F2E7CD;
    font-weight: bold;
    border: none;
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 0px 3px #59343e;
    margin: 0px;
}