/* Container titulo de la cuenta del lado derecho de la vista del mesero*/
.total-cuenta-titulo {
  text-align: center;
  width: 325px;
  margin-bottom: -13px;
}

/* Texto titulo*/
.total-cuenta {
  border-radius: 1px;
  background: #303030;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 3px #59343e;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 13px;
  padding: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 8px;
}

.number {
  cursor: auto;
}
