dialog {

  background: linear-gradient(to bottom left, #b6c557, #f2a950 );
  color: white;
  border-color: transparent;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  height: 100px;
  width: 200px;
}