<div class="fondo">
  <div class="fondo-amarillo-login">
    <div class="login-container">
      <img src="./assets/logo.png" alt="logo" class="logo-login" />
      <form
        class="caja-negra-login"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin(loginForm.value)"
        caja-negra-login
      >
        <div class="form">
          <input
            type="text"
            placeholder="Correo"
            id="email"
            class="form-input"
            formControlName="email"
          />
        </div>
        <div class="form">
          <input
            type="password"
            placeholder="Contraseña"
            id="password"
            class="form-input"
            formControlName="password"
          />
        </div>
        <button type="submit" class="btn">Ingresar</button>
      </form>
      <error-modal></error-modal>
      <botoncin text="botonciwi"></botoncin>
    </div>
  </div>
</div>
