.fondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #303030;
}

.login-container {
  height: 360px;
  padding: 20px;
  border-radius: 5px;
  background: #fffdf8;
  box-shadow: 1px 1px 5px 1px #59343e;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.form {
  margin-bottom: 10px;
}

.logo-login {
  width: 200px;
  height: 200px;
}

.caja-negra-login {
  border-radius: 5px;
  background: #303030;
  box-shadow: 1px 1px 5px 1px #59343e;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  order: 99;
  align-self: end;
  justify-content: center;
}

.fondo-amarillo-login {
  border-radius: 5px;
  background: #f2a950;
  box-shadow: 1px 1px 5px 1px #090909;
  padding: 30px;
  width: 310px;
}

.form-input {
  width: 100%;
  display: flex;
}

.form {
  justify-self: center;
}

.btn {
  display: block;
  width: 100%;
}