<div class="container">
    <div class="cuadro-izquierda">
        <app-logo></app-logo>
        <app-two-buttons></app-two-buttons>
        <app-container-product-price></app-container-product-price>
        <app-orders-ready></app-orders-ready>
    </div>
    <div class="cuadro-derecha">
        <div class="subcontenedor-derecho">
            <div class="total-cuenta-titulo">
                <p class="total-cuenta">Total cuenta</p>
            </div>
            <div class="container-cuenta-column">
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
                <div class="container-cuenta-row">
                    <p class="simbol">+</p>
                    <p class="number">2</p>
                    <p class="simbol">-</p>
                    <p class="product-cuenta">Café americano</p>
                    <p class="price-cuenta">$12</p>
                    <app-trash></app-trash>
                </div>
            </div>
            <div class="suma-cuenta">
                <p class="total-texto">Total</p>
                <p class="numero-total">$27</p>
            </div>
            <div class="cocina">
                <button class="btn-cocina">Enviar a cocina</button>
            </div>
        </div>
    </div>
</div>