<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-blur"></div>
  <div class="modal-wrapper">
    <div class="modal-content">
      <ng-container *ngIf="childTitle !== ''">
      </ng-container>
      <h3 class="title1" >Nombre del ítem</h3>
      <input
        #newProductName
        type="text"
        [(ngModel)]="input1"
        placeholder="ítem"
      />
      <h3 class="title2">Momento del día</h3>
      <select #newProductPrice type="text" [(ngModel)]="input2">
        <option value="Desayuno">Desayuno</option>
        <option value="Almuerzo">Almuerzo</option>
      </select>
      
      <h3 class="title3">Precio</h3>
      <input
        #newProductType
        type="text"
        [(ngModel)]="input3"
        placeholder="$1"
      />
      <div class="sent-button">
        <botoncin
          text="Confirmar"
          (click)="confirmModal(newProductName.value, newProductPrice.value, newProductType.value)"
        ></botoncin>
      </div>
    </div>
    <button class="btn" (click)="closeModal()">x</button>
  </div>
</div>
