<div class="cuadros-pedidos-listos">
    <h3>Pedidos listos</h3>
    <div class="column-pedidos-listos">
        <button class="pedido-listo">Mesa 1</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 28</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
        <button class="pedido-listo">Mesa 2</button>
    </div>
</div>