<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-blur"></div>
  <div class="modal-wrapper">
    <div class="modal-content">
      <ng-container *ngIf="childTitle !== ''">
      </ng-container>
      <h3 class="title1" >Nombre del usuario</h3>
      <input
        #newUserName
        type="text"
        [(ngModel)]="input1"
        placeholder="Nombre"
      />
      <h3 class="title2">Correo</h3>
      <input
        #newUserEmail
        type="text"
        [(ngModel)]="input2"
        placeholder="user@example.com"
      />
      <h3 class="title3">Rol</h3>
      <select [(ngModel)]="input3" placeholder="Rol" #newUserRole>
        <option value="mesero">Mesero</option>
        <option value="chef">Chef</option>
        <option value="admin">Admin</option>
      </select>
      <h3 class="title4">Contraseña</h3>
      <input
        #newUserPassword
        type="text"
        [(ngModel)]="input4"
        placeholder="Contraseña"
      />
      <div class="sent-button">
        <botoncin
          text="Confirmar"
          (click)="confirmModal(newUserName.value, newUserEmail.value, newUserRole.value, newUserPassword.value)"
        ></botoncin>
      </div>
    </div>
    <button class="btn" (click)="closeModal()">x</button>
  </div>
</div>
