/* Contenedor de los botones de desayuno y resto del día*/
.container-buttons {
  justify-content: flex-start;
  flex-direction: row;
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
}
